h1 {
  text-align: center;
  color: white;
  background-color: #1D1D1D;
  height: 100px;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding-top: 30px;
  font-family:'Josefin Slab', serif;
}

h1:after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 30px 30px;
  content: " ";
  display: block;
  width: 100%;
  height: 32px;
}

.totalContent {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 40px;
}

.basics {
  margin: 0 60px 0 60px;

}

.basics > h3 {
  margin-left: 40px;
}

ul {
  list-style: none;
  color: #CCCCCC;
  font-size: 18px;
}

span {
  color: #7FAEAE;
}

.story {
  margin: 0 60px 0 60px;
}

p {
  width: 350px;
  height: 100px;
  border-left: 1px solid #CCCCCC;
  color: #CCCCCC;
  padding: 25px 0 0 25px;
  font-size: 18px;
  font-weight: 500;
}

img {
  height: 200px;
  border-radius: 100px;
  margin-top: 50px;
}
